<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Order</title>
        <style>
            .center {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            body {
                background-color: #fadadd;
            }
            button {
                background: #ef8891;
            }
        </style>
    </head>
    <body>
    <div class="center">
        <h3>Form to get model by id</h3>
        <p>There are {{ . }} json models in the database</p>
        <form method="GET" action="order">
            <label>Input order_uid: </label>
            <input type="text" name="id" />
            <button>get</button>
        </form>
    </div>
    </body>
</html>
